<!DOCTYPE html>
<html>
    <head>
    <title>Home page</title>
    <link rel="stylesheet" href="static/home.css">
    </head>

    <body>

        
        <div clas="container">
            <div class="nav-bar">
                <ul class="nav">
                    <li><a href="teacher">Teacher</a></li>

                    <li><a href="admin">Admin</a></li>

                                             
                    <li class="dropdown"><a href="#">Database</a>
                            
                            
                        <ul class="dropdown-menu">
                                <li ><a href="database_Two" class="drop1">Two mark</a></li>
                                <li><a href="database_Twelve" class="drop2">Twelve mark</a></li>

                        </ul>
                    
                    </li>   
                     
                    

                    <li class="about"><a href="about">About us</a></li>

                    
                </ul>
            </div>

            <div  class="heading">


                <p  class="title-1">Automatic Question </p>
                <p class="title-2"> paper generator</p>

            </div>
        </div>
        
    </body>

</html>