<!DOCTYPE html>
<html>

    <head>
    <title>Your questions</title>

    <link rel="stylesheet" href="static/question.css">
    </head>

    <body>
    <div class="template" >
        
        
        <h3>CS 8691 Computer Networks</h3>
        
        
        <h3>Department of Computer Science and Engineering</h3>
        <h3>{{name}}</h3>
        
        
        <div class="flex-itm">
        <h3>Timing : {{timing}} hrs</h3>
        <h3>Maximum Marks : {{marks}}</h3>
        </div>


        <h3>Answer All Questions </h3>
        <h3>PART A (10 x 2 = 20 Marks) </h3>


        <div class="two-mark">

        
        
        <p>1. {{two_mark[1][0]}} </p>
        <p>2. {{two_mark[1][1]}} </p>
        <p>3. {{two_mark[2][0]}} </p>
        <p>4. {{two_mark[2][1]}} </p>
        <p>5. {{two_mark[3][0]}} </p>
        <p>6. {{two_mark[3][1]}} </p>
        <p>7. {{two_mark[4][0]}} </p>
        <p>8. {{two_mark[4][1]}} </p>
        <p>9. {{two_mark[5][0]}} </p>
        <p>10. {{two_mark[5][1]}} </p>

        

        

        </div>

        <h3>PART B (5 x 13 = 65 Marks)</h3>

        <div  class="twelve-mark">

        

        <p>1.(a) {{twelve_mark[1][0]}}</p>

        <h3>(or)</h3>

        <p>(b) {{twelve_mark[1][1]}}</p>


        <p>2.(a) {{twelve_mark[2][0]}}</p>

        <h3>(or)</h3>

        <p>(b) {{twelve_mark[2][1]}}</p>


        <p>3.(a) {{twelve_mark[3][0]}}</p>

        <h3>(or)</h3>

        <p>(b) {{twelve_mark[3][1]}}</p>



        <p>4.(a) {{twelve_mark[4][0]}}</p>

        <h3>(or)</h3>

        <p>(b) {{twelve_mark[4][1]}}</p>

        
        <p>5.(a) {{twelve_mark[5][0]}}</p>

        <h3>(or)</h3>

        <p>(b) {{twelve_mark[5][1]}}</p>



        


        <h3>PART C (1 x 16 = 16 Marks)</h3>


        <div  class="sixteen-maek">

        

        <p>1.(a) {{sixteen_mark[0]}}</p>

        <h3>(or)</h3>

        <p>  (b) {{sixteen_mark[1]}}</p>


        </div>

    

        







    </div>

    </body>
</html>





