<!DOCTYPE html>
<html>

    <head>
    <title>Your questions</title>

    <link rel="stylesheet" href="static/question.css">
    </head>

    <body>
    <div class="template" >
        
        
        <h3>CS 8691 Computer Networks</h3>
        
        
        <h3>Department of Computer Science and Engineering</h3>
        <h3>{{name}}</h3>
        
        
        <div class="flex-itm">
        <h3>Timing : {{timing}} hrs</h3>
        <h3>Maximum Marks : {{marks}}</h3>
        </div>


        <h3>Answer All Questions </h3>
        <h3>PART A (7 x 2 = 14 Marks) </h3>


        <div class="two-mark">
                                                 

            <P>1. {{two_mark[0]}}</P>
            <P>2. {{two_mark[1]}}</P>
            <P>3. {{two_mark[2]}}</P>
            <P>4. {{two_mark[3]}}</P>
            <P>5. {{two_mark[4]}}</P>
            <P>6. {{two_mark[5]}}</P>
            <P>7. {{two_mark[6]}}</P>
            

        
        

        </div>

        <h3>PART B (3 x 12 = 36 Marks)</h3>

        <div  class="twelve-mark">

            <p>1. {{twelve_mark[0]}}</p>
            <p>2. {{twelve_mark[1]}}</p>
            <p>3. {{twelve_mark[2]}}</p>
            <p>4. {{twelve_mark[3]}}</p>
            
        

        </div>

    

        







    </div>

    </body>
</html>





